/* Full Album Pack - BEGIN*/

/* Thumbs Frame & Shadow - BEGIN */
.picframe{
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 2px 6px 2px 6px;
	position: relative;
	bottom: 2px;
	right: 2px;
}

.picshadow{
	background-color: #888888;
	color: inherit;
	margin-left: 4px;
	margin-top: 4px;
}
/* Thumbs Frame & Shadow - END */

/* Pic LightBox Preview - BEGIN */
#loader_container {
	text-align: center; position: absolute; top: 40%; width: 100%;
}

#loader {
	font-family: "Trebuchet MS", Verdana, Tahoma, Helvetica, sans;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 10px 0 16px 0;
	margin: 0 auto;
	display: block;
	width: 135px;
	border: 1px solid #777777;
	text-align: left;
	z-index: 255;
}

#progress {
	height: 5px;
	font-size: 1px;
	width: 10px;
	position: relative;
	top: 1px;
	left: 10px;
	background-color: #999999;
}

#loader_bg {
	background-color: #EEEEEE;
	position: relative;
	top: 8px;
	left: 8px;
	height: 7px;
	width: 113px;
	font-size: 1px
}

.border_preview{
	font-family: "Trebuchet MS", Verdana, Tahoma, Helvetica, sans;
	font-size: 16px;
	color: #444444;
	padding: 10px 10px 10px 10px;
	z-index: 100;
	position: absolute;
	background: #FFFFFF;
	border: 2px dotted #336699;
}

.preview_temp_load {
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}

.preview_temp_load img{
	vertical-align: middle;
	text-align: center;
}
/* Pic LightBox Preview - END */

/* Full Album Pack - END*/
